@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "pokemon";
	src: url("/pocketmonk-15ze-webfont.woff2") format("woff2"), url("/pocketmonk-15ze-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}
:root {
	--bg-color: "white";
}

#root {
	max-width: 90rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
